@import "tailwindcss";

@theme {
  --color-charcoal: #2C2C2C;
  --color-off-white: #F9F9F9;
  --color-champagne: #D4AF37;
  --color-champagne-hover: #C5A028;
  --color-gold: #C5A059;
  --color-gold-hover: #D6B26B;
  --color-dark-charcoal: #1A1A1A;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-charcoal);
}
